 
 


  
      
 

  

 

  
 
   
 


  


 
  



 


  @media  (max-height:430px) and (orientation: landscape) {
.topParagraph {
  position: fixed;
  font-family: 'PT Serif', serif;
  color:#ec9d0a  ;
  padding-bottom: .25rem;
  font-size: 1.25rem;
  right: 11rem;
  top: -1rem;
 }
}





 
  
  @media  (min-width: 320px){
    .cube {position: relative;
      top: -4rem;
      width: 150px;
      height: 150px;
      transform-style: preserve-3d;
      transform: rotateX(-15deg);
      animation: animate 20s linear infinite;
      z-index: -1;
    }
  }
 
  @media  (min-width: 600px){
    .cube
     {position: relative;
      top: -4rem;
      width: 150px;
      height: 150px;
      transform-style: preserve-3d;
      transform: rotateX(-15deg);
      animation: animate 20s linear infinite;
      z-index: -1;
    }
  }


  @media  (max-height: 500px)  and (orientation: landscape) {
    .cube {position: relative;
      top: -10rem;
      width: 150px;
      height: 150px;
      transform-style: preserve-3d;
      transform: rotateX(-15deg);
      animation: animate 20s linear infinite;
      z-index: -1;
    }
  }
   
  @media  (max-height:430px) and (orientation: landscape) {
#demo {
  position: relative;
  font-family: 'PT Serif', serif;
  color:#ec9d0a  ;
  padding-bottom: .25rem;
  font-size: .80rem;
  left: 11rem;
  top: -2rem;
  margin: 2px;
 }

  .cube {
  position: relative;
  top: -8rem;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transform: rotateX(-15deg);
  animation: animate 20s linear infinite;
  z-index: -1;
 }
}
@media  (max-height: 385px)  and (orientation: landscape) {
  .cube {position: relative;
    top: -10rem;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    transform: rotateX(-15deg);
    animation: animate 20s linear infinite;
    z-index: -1;
  }
}
@media  (max-height: 319px) and (orientation: landscape){
  .cube {position: relative;
    top: -12rem;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    transform: rotateX(-15deg);
    animation: animate 20s linear infinite;
    z-index: -1;
  }
}













  
 
 
 
 