 
 
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Rye&display=swap?family=Creepster&family=Itim&family=PT+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --varDARKBEAKTOP:     rgba(120,80,1,1);      /* #785001  */ 
    --D-MEDBEAKTOP:      rgba(182,121,2,1);     /* #b67902 */
    --D-LIGHTBEAKTOP:    rgba(252,168,2,1);     /* #fca802 */
  
    --D-DARKDUCKHEAD:     rgba(30,59,40,1);      /* #1e3b28 */                    
    --D-MEDDUCKHEAD:      rgba(40,79,53,1);      /* #284f35 */    
    --D-LIGHTDUCKHEAD:    rgba(82,143,133,1);    /* #528f85 */
    
    --D-DARKBLUEFEATHER:  rgba(36,85,141,1);     /* #24558d  */ 
    --D-MEDBLUEFEATHER:   rgb(42, 97, 161);      /* #2a61a1  */ 
    --D-LIGHTBLUEFEATHER: rgba(65,154,255,1);    /* #419aff */ 
    
    --D-DARKDUCKCHEEKS:   rgba(54,46,71,1);      /*  #362e47 */
    --D-MEDDUCKCHEEKS:    rgba(107,91,141,1);    /* #6b5b8d */ 
    --D-LIGHTDUCKCHEEKS:  rgba(160,136,210,1);   /* #a088d2*/ 
    
    --D-DARKNECK:        rgba(65,42,50,1);      /* #412a32 */  
    --D-MEDNECK:        rgba(152, 100, 141,1); /* #98648d */
    --D-LIGHTNECK:      rgba(198,129,183,1);   /* #c68199 */
   
    --varDARKWING:        rgba(60,48,46,1);      /*  #3c302e */
    --D-MEDWING:         rgba(128,102,97,1);    /* #806661 */
    --D-1LIGHTWING:       rgba(207,166,157,1);   /* #cfa69d */
  
    --D-DARKBEAK:        rgba(112,24,26,1);     /* #70181a */
    --D-MEDBEAK:         rgba(150,32,35,1);     /*  #962023*/ 
    --D-LIGHTBEAK:       rgba(215,45,50,1);     /* #d72d32 */
  
    --D-DARKSPACE:      rgba(8, 18, 28,1);     /* #08121c */
    --D-MEDSPACE:       rgba(27,56,84,1);      /*  #1b3854 */
    --D-LIGHTSPACE:     rgba(38, 77, 115,1);   /*  #264d73 */

  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
      }
  


  body {
     
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: border;
    padding: 1px;
    background-image: linear-gradient( rgba(55, 124, 177, 1)15% ,
    rgba(65, 79, 91, 1)60%-80%,rgba(151, 145, 144, 1)100%);
    min-width: 250px;
    max-width:100%;
    max-height:100% ;
    outline: 4px double var(--f9LIGHTDUCKCHEEKS); 
    margin: 2px;
    padding: 20px;
    overflow: hidden;
  }
  
    
    
 
  

  .container {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    display : flex;
    justify-content:center;
    align-items: center;
    border-radius: 10px;
    background-color: transparent;
    margin: 0 auto;
    padding: 10px;

  }
  
  .topParagraphWrapper :hover{
     color:#895b05;
    }
  
    .topParagraphWrapper {
      justify-content: center;
      text-align: center;
    }
   
 
    
    
   
  
  .topParagraph {
    position: absolute;
    font-family: 'PT Serif', serif;
    color:burlywood;  
    top: 2rem;
    left:2.5rem;
    padding: 2px;
    text-shadow: #151515 .5px .5px;
    margin: auto;
    }
   @media screen and (max-width: 420px) {
  .topParagraph {
    position: absolute;
    text-align: center;
    font-family: 'PT Serif', serif;
    color:#e39a12  ;
    top:.125rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px;
    margin: auto;
    text-shadow: #151515 .5px .5px;
    margin-top: -.45rem;
    }
  }


    .demoWrapper {
  letter-spacing: 3px;
  position:absolute;
  top:1rem;
  right:3rem ;
  width: fit-content;
  margin-top: 1.1rem;
  text-align: center;
  padding: 2px;
  text-decoration:underline;
  font-weight: 700;
  text-decoration-color: burlywood;
  text-shadow: #151515 .5px .5px;
  margin-top: -1rem;
}
@media screen and (max-width: 420px) {
.demoWrapper {
  letter-spacing: 3px;
  position:absolute;
  top:2rem;
  right:50%;
  transform: translateX(50%);
  width: fit-content;
  margin-top: 1.5rem;
  text-align: center;
  padding: 2px;
  text-decoration: underline;
  text-decoration-color: #fca802;
  text-shadow: #151515 .5px .5px;
  font-weight: 400;
}
}   
 


    #demo {
      position: relative;
      color: burlywood;
      padding: 2px;
      text-shadow: #151515 .5px .5px;
      white-space: nowrap;  
      margin: .5rem;
      letter-spacing: 0px;
      margin-top: -1rem;
       } 
            @media screen and (orientation: landscape) {
              #demo {
                position: relative;
      color: burlywood;
      padding: 2px;
      text-shadow: #151515 .5px .5px;
      white-space: nowrap;  
      margin: .5rem;
      letter-spacing: 0px;
      margin-top: -.5rem;
              } 
            }    
     
       .cube {
        position: relative;
        
        width: 150px;
        height: 150px;
        transform-style: preserve-3d;
        transform: rotateX(-15deg);
        animation: animate 20s linear infinite;
        z-index: -1;
      }     
       
      .bodyWrapper {
       
        position: relative;
        justify-content: center;
        align-items: center;
        width: fit-content;
        min-height: 100vh;
        left: 0;
        transform: translateX(50%);
        text-align: center;
        padding-top: 1rem;
        white-space: nowrap;
         
        margin: 2px;
        padding: 2px;
        /* border: 2px solid greenyellow; */
      }
      

.item {
  width: 100px;  
  height: 100px;
}



  
  @keyframes animate
{
    0%
    {
transform:rotateX(-15deg) rotateY(360deg);
     }
    100%
    {
transform:rotateX(-15deg) rotateY(0deg);
    }
  } 
    
    
.outerCubeDiv {
   position: relative;
   justify-content: center;
   align-items: center;
   
}

 
.cube div {
position: absolute;
top: 0%;
left: 0%;
min-width: 100%; min-height: 100%;
transform-style: preserve-3d;
 

}
 .cube div span {
 
  position: absolute;
  top: 0%;
  left: 0%;
  min-width: 100%;
  min-height: 100%;
  background: linear-gradient(#151515,#ec9d0a);
  transform: rotateY(calc(90deg * var(--i))) translateZ(75px);
 
 }


 
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: #222;
  transform: rotateX(90deg) translateZ(75px);
 
}

.FranknBridewithCorn2
  {  
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;  
  }   
  .alienPilgrim    { 
    
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%; 
      
  }
    
  .PilgrimFrank   {

    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%; 
     
  }
 
  .ThanksgivingWithFriends
{  

    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%; 
   
  }
  .top::before  {
 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background:rgba(235, 156, 10, 1);
    transform: translateZ(-220px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgb(141, 96, 4),
    0 0 200px rgba(178, 119, 5), 
    0 0 300px rgba(188, 125, 7), 
    0 0 400px rgba(202, 134, 9, 8),
    0 0 500px rgba(235, 156, 10, 1);
  }
  
  
/* xxxs */
@media (min-width: 300px) {
     .container {
        max-width: 300px;
     }
  } 
@media (min-width: 350px) {
     .container {
        max-width: 350px;
     }
  } 
/* xxs */
  @media (min-width: 400px) {
.container {
        max-width: 400px;
     }
  } 
   /* xs */
  @media (min-width: 500px) {
.container {
        max-width: 500px;
     }
  } 
   /* s */
  @media (min-width: 640px) {
    
.container {
        max-width: 640px;
     }
  }  
/* md */
  @media (min-width: 768px) {
.container {
        max-width: 768px;
     }
    } 

/* lg */
  @media (min-width: 1024px) {
     .container {
               max-width: 1024px;
     }  
  }  



/* xl */
  @media (min-width: 1280px) {
.container {
        max-width: 1280px;
     }
  }  

/* 2xl */
 @media (min-width: 1536px) {
.container {
        max-width: 1536px;
     }
 }  

 /* media query for bigger cube */

@media (min-width: 900px) and (min-height: 500px) {
  .top::before  {
 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background:rgba(235, 156, 10, 1);
    transform: translateZ(-400px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgb(141, 96, 4),
    0 0 200px rgba(178, 119, 5), 
    0 0 300px rgba(188, 125, 7), 
    0 0 400px rgba(202, 134, 9, 8),
    0 0 500px rgba(235, 156, 10, 1);
  }
  .cube {
    width: 300px;
    height: 300px;
    animation: animate 40s linear infinite;
  }
  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
   
  }
  .cube div span {
 
    position: absolute;
    top: 0%;
    left: 0%;
    min-width: 100%;
    min-height: 100%;
    background: linear-gradient(#151515,#ec9d0a);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
   
   }
 /* media query for smaller cube */




}