

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   /*  .section-min-height {
   TEST     min-height: calc(100vh - 68px)
    } */
  #header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.12);
  }



    .toggle-btn {
        @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent [&>div]:rotate-[720deg]
    }
}
@keyframes rotateX {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }

  .rotate {
    animation: rotateX 25s linear infinite;
    display: inline-block;
  }
  
  @media only screen and (max-width: 319px) {
  #mainBoxes {
      padding: 0rem; 
            }
  #iphone5Text{ 
      position: relative;
      content: center;
      padding: 5px;
      padding-bottom: 1.75rem;
      font-size: 5px;
           }
           #i5Jumbo{
            font-size: 68px;
            position: relative;
            top: 0px;

          } 
           #i5h1{
            font-size: 46px;
            position: relative;
            top: 0px;
          } 

           
          #i5h2{
      font-size: 40px;
      position: relative;
      top: 0px;
    }  
       #i5h3{
      font-size: 36px;
      position: relative;
      top: 0px;
    }

   
         #i5h4{
      font-size: 32px;
      position: relative;
      top: 0px;
    }

          #i5h5{
      font-size: 28px;
      position: relative;
      top: 0px;
    }

    
       #i5OurPorps{
        font-size: 58px;
        position: relative;
        top:0px;
       } 
        /* IMG */
       #porpoise{
        position: relative;
           
       }
       #i5topquote {
        font-size: 20px;
        position: relative;
        top: 0px;
         }
         #wSpaceNW{
          white-space: wrap;
         }

       
           #i5Smooth{
            scroll-behavior: smooth;
           }
        }
     
     
 @media only screen and (min-width: 320px) and (max-width: 412px){ 

  #mainBoxes {
      padding: .5rem;    
    } 
 #our{
   font-size: xx-large;
 }
 #i5h4{
  font-size: 28px; 
 }
 
}